<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      ACTIVITIES
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title> BIRTHDAY CELEBRATION </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/pic10.jpg" />
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> HARI RAYA CELEBRATION </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/pic3.jpg" />
        <p> The teacher is passing the food to the kids.</p>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/pic2.jpg" />
        <p> Enjoying a meal with friends before they are going to school.</p>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/pic4.jpg" />
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> SPORT DAY </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/pic7.jpg" />
        <P> This activity they need to be in group of 2 and one of them should make up their partner. </P>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/pic8.jpg" />
        <p> The kids need to find the candy in the flour.</p>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/pic9.jpg" />
        <p> They need to find coins in pool that have a lot of balls.</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>