<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  <ion-toolbar>
  <ion-title size="large">About Us</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-card>
  <ion-card-header>
  </ion-card-header>
  <ion-card-content>
  <img src="assets/pic1.jpg"/>
  <p> This nursery has been in operation since 2006 under the name "Taska Wafa." This nursery's initial staff and population of kids was large. Because there were so many kids who enjoyed participating in activities, it can be concluded that there used to be a lot of activities for kids. In the past, children attending nursery schools used to range in age from one to twelve.Therefore engaging in activities like sports, year-end performances, and so on feels great.</p>
  <p> <br> Due to the intention of combining staff, "Taska Wafa" has become "Taska Qadry" starting 2018. The nursery had a lot more kids that year, and there were 4 persons on the staff, but activities weren't done the same way as previously. </p>
  <p><br> When COVID 19 hit our nation, nurseries have been unable to work normally since we have been told to stay at home. As a result, the nursery is now again open when parents have the chance to work on endemics, but with a staff size reduction from four to two. Sadder even, fewer kids are enrolling in the nursery as a result of parents losing their jobs and other factors. Because the majority of the children in the nursery are between the ages of 1 and 5, it is now only possible to undertake activities for children younger than 10 years old.</p>
  </ion-card-content>
  </ion-card>