<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>STAFF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="assets/logo2.png" alt="rpk logo"></ion-img>

    <ion-text color ="white">
      <h3 align="center"> WELCOME TO TASKA QADRY APPS</h3>
    </ion-text>

    <ion-button
    class="ion-padding"
    expand="block"
    shape="round"
    color="primary"
    [routerLink]="['/login']">
    LOGIN
  </ion-button>

  <ion-button
    class="ion-padding"
    expand="block"
    shape="round"
    color="primary"
    [routerLink]="['/register']">
    REGISTER
  </ion-button>

</div>
</ion-content>